:host {
    display: block;
    width: 100%;
    margin-top: 0.8125rem;
    margin-bottom: 2.1875rem;
    position: relative;
    min-height: 19.375rem;
}
.container-overlay {
    width: 100%;
    height: 70%;
    background: var(--highlighted-wrapper-background);
    position: absolute;
}
.section {
    width: 100%;
    .section__title {
        padding-top: 1.125rem;
        color: var(--secondary-text-color);
        font-size: 0.875rem;
        font-weight: bold;
    }
    .section__content {
        width: 100%;
        margin-top: 1.4375rem;
        font-size: 0.625rem;
        .partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            .partner {
                // width: 10%;
                // margin: 0 1.875rem;
                display: block;
                margin-bottom: 2.3125rem;
            }
        }
    }
}
/deep/ .mat-tab-label {
    font-size: 0.625rem!important;
    color: var(--primary-text-color)!important;
    opacity: 1!important;
    min-width: 3.125rem!important;
    height: 1.875rem!important;
    opacity: 1!important;
    padding-left: 0!important;
    justify-content: start!important;
}
/deep/ .mat-ink-bar {
    background-color: #ff3c4e!important;
}