<div class="container-overlay">

</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="section">
            <div class="section__title">{{'~best-offers' | translate}}</div>
            <div class="section__content">
                <mat-tab-group [disableRipple]="true" [selectedIndex]="selectedTabIndex" [animationDuration]="'1.5s'">
                    <mat-tab label="{{'~deposits' | translate}}"> <deposits></deposits> </mat-tab>
                    <mat-tab label="{{'~loans' | translate}}"> <deposits></deposits> </mat-tab>
                    <mat-tab label="{{'~mortgage' | translate}}"> <deposits></deposits> </mat-tab>
                    <mat-tab label="{{'~credit-cards' | translate}}"> <deposits></deposits> </mat-tab>
                    <mat-tab label="{{'~debit-cards' | translate}}"> <deposits></deposits> </mat-tab>
                  </mat-tab-group>
            </div>
          </div>
    </div>
  </div>
</div>