:host {
    display: block;
    width: 100%;
    margin-top: 0.8125rem;
}
.section {
    width: 100%;
    .section__title {
        color: var(--secondary-text-color);
        font-size: 0.875rem;
        font-weight: bold;
    }
    .section__content {
        width: 100%;
        margin-top: 2.3125rem;
        .partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            .partner {
                // width: 10%;
                // margin: 0 1.875rem;
                padding: 22px;
                display: block;
                margin-bottom: 2.3125rem;
            }
        }
    }
}