<div class="container">
  <div class="row">
    <div class="col-2">
      <img class="brand-logo" src="./assets/icons/mybank-logo.svg">
    </div>
    <div class="col-3">
      <div class="link">{{'~aboutProject' | translate}}</div>
      <div class="link">{{'~contacts' | translate}}</div>
      <div class="link">{{'~partnersProgram' | translate}}</div>
    </div>
    <div class="col-3">
        <div class="link">{{'~forAgents' | translate}}</div>
        <div class="link">{{'~confidentialPolicy' | translate}}</div>
        <div class="link">{{'~siteMap' | translate}}</div>
    </div>
    <div class="col-4">
      <div class="social-follow">
          <a class="social-follow__title">
            {{'~followUs' | translate}}
          </a>
          <div class="social-follow__items">
            <a class="follow-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="follow-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="follow-item">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="follow-item">
                <i class="fab fa-pinterest-p"></i>
            </a>
            <a class="follow-item">
                <i class="fab fa-google-plus-g"></i>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>