<div class="offer-card">
  <div class="offer-card__header">
      <div class="offer-card__header__title">
        <div class="type-key">{{'~deposit' | translate}}</div>
        <div class="type-value">{{'~family' | translate}}</div>
      </div>
      <div class="offer-card__header__logo">
        <img src="./assets/icons/{{type}}.svg">
      </div>
  </div>
  <div class="offer-card__content">
      <div class="deposit-percent">
        <div class="deposit-percent__title">8,00%</div>
        <div class="deposit-percent__subtitle">{{'~annual' | translate}}</div>
      </div>
      <div class="deposit-count">
        <div class="deposit-count__title">365</div>
        <div class="deposit-count__subtitle">{{'~deposit-time' | translate}}</div>
      </div>
  </div>
  <div class="offer-card__actions">{{'~more-info' | translate}}</div>
</div>

