:host {
    display: block;
}
.offer-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.0625rem 1.3125rem;
    background: #ffffff;
    width: 19.3125rem;
    border: solid 0.125rem #eaf1fe;
    margin-right: 0.1875rem;
    .offer-card__header {
        margin-bottom: 1.1875rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        .offer-card__header__title {
            display: flex;
            font-size: 0.75rem;
            .type-value {
                margin-left: 0.3125rem;
                font-weight: bold;
            }
        }
        .offer-card__header__logo {
            height: 1.6875rem;
            width: 6.3125rem;
        }

    }
    .offer-card__content {
        width: 100%;
        display: flex;
        .deposit-percent {
            font-size: 0.625rem;
            margin-right: 3.375rem;
            .deposit-percent__title {
                font-family: 'Raleway-bold';
                font-size: 1.6875rem;
            }
            .deposit-percent__subtitle {
                font-size: 0.75rem;
            }
        }
        .deposit-count {
            .deposit-count__title {
                font-family: 'Raleway-bold';
                font-size: 1.5rem;
            }
            .deposit-count__subtitle {
                font-size: 0.625rem;
            }
        }
    }
    .offer-card__actions {
        align-self: flex-end;
        font-size: 0.75rem;
        font-weight: 900;
        margin-top: 0.875rem;
        cursor: pointer;
    }

}