:host {
    display: block;
    width: 100%;
    margin-top: 2.1875rem;
    margin-bottom: 1.125rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .header__icon {
        height: 1.5625rem;
        width: 9.0625rem;
    }
    .header__links {
        display: flex;
        margin-left: auto;
        .link {
            font-size: 0.75rem;
            font-weight: 500;
            margin-right: 1.6875rem;
            cursor: pointer;
        }
    }
    .header__search {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-text-color);
        color: #ffffff;
        font-size: 0.5rem;
        padding: 0.3125rem;
        border-radius: 6px;
        width: 1rem;
        height: 1rem;
        margin-left: auto;
        margin-right: 0.3125rem;

    }
    .header__lang-switch {
        display: flex;
        select {
            background-color: var(--secondary-text-color);
            padding: 0.0625rem;
            color: #ffffff;
            text-align-last: center;
            border-radius: 0.375rem;
            font-size: 0.625rem;
            width: 4.375rem;
            option {
              color: lightgray;
            }
          }
          .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
    }

.lang-switch {
        width: 3.9375rem;
    /deep/ .mat-form-field-flex {
        border-radius: 0.375rem;
        background: var(--secondary-text-color);
    }
    /deep/ .mat-form-field-underline {
        display: none;
    }
    /deep/ .mat-select-value {
        color: #ffffff;
    }
}

@media (max-width: 992px) {
    .header {
        .header__search {
            margin-left: 0;
        }
    }
}