<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <div class="header__icon">
            <img src="./assets/icons/mybank-logo.svg">
          </div>
          <div class="header__links">
            <div class="link">
              {{'~deposits' | translate}}
            </div>
            <div class="link">
              {{'~loans' | translate}}
            </div>
            <div class="link">
              {{'~mortgage' | translate}}
            </div>
            <div class="link">
              {{'~credit-cards' | translate}}
            </div>
            <div class="link">
              {{'~debit-cards' | translate}}
            </div>
            <div class="link">
              {{'~exchange-rates' | translate}}
            </div>
          </div>
          <div class="header__search">
              <i class="fas fa-search"></i>
          </div>
          <div class="header__lang-switch">
            <select value="English">
               <option value="" disabled selected>English</option>
              <option>English</option>
            </select>
              <!-- <mat-form-field appearance="fill" class="lang-switch">
                  <mat-select placeholder="English">
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                </mat-form-field> -->
          </div>
      </div>
    </div>
  </div>
</div>